<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Easyception" version="2.0.0" targetFramework="net35" />
  <package id="GladNet.Payload" version="3.0.15" targetFramework="net46" />
  <package id="GladNet.Serializer" version="3.0.15" targetFramework="net46" />
  <package id="SceneJect.Metadata" version="2.0.3" targetFramework="net46" />
</packages>