<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Booma.Entity.Identity" version="1.0.10" targetFramework="net35" />
  <package id="Easyception" version="2.0.0" targetFramework="net35" />
  <package id="fasterflect" version="2.1.3" targetFramework="net35" />
  <package id="GladBehaviour.Common" version="1.0.5" targetFramework="net35" />
  <package id="GladNet.Serializer" version="2.0.33" targetFramework="net35" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net35" />
  <package id="Net35Essentials" version="1.0.2" targetFramework="net35" />
  <package id="SceneJect.Common" version="1.0.27" targetFramework="net35" />
</packages>